In [92]:
import numpy as np
import cvxpy as cp
import pandas
from scipy.optimize import linprog

In [66]:
dataset = pandas.read_csv('../datasets/yow_userstudy_raw.csv')
dataset.head()

,EventOnScroll,MSecForDownArrow,TimeOnVScroll,relevant,NumOfPageUp,TimeOnMouse,NumOfPageDown,ClickOnWindow,log_id,serverTimeVisit,...,readability,TimeOnHScroll,novelty,user_like,DOC_ID,TimeOnPage,TimeVisit,user_id,NumOfDownArrow,authority
0,0.0,0.0,0.0,4.0,0,1455,0.0,0.0,2401,2004-04-23 15:23,...,1.0,0.0,5.0,4,279282,6109.0,2004-04-23 15:23,51,0.0,1.0
1,0.0,0.0,0.0,4.0,0,9673,0.0,0.0,2405,2004-04-23 15:25,...,1.0,0.0,4.0,4,278354,68265.0,2004-04-23 15:25,51,0.0,1.0
2,0.0,0.0,0.0,4.0,0,1424,0.0,0.0,2409,2004-04-23 15:34,...,1.0,0.0,5.0,4,276597,12610.0,2004-04-23 15:34,51,0.0,1.0
3,0.0,0.0,0.0,4.0,0,876,0.0,0.0,2411,2004-04-23 15:35,...,1.0,0.0,4.0,4,278339,6641.0,2004-04-23 15:35,51,0.0,1.0
4,0.0,0.0,0.0,5.0,0,4613,0.0,0.0,2412,2004-04-23 15:37,...,1.0,0.0,5.0,4,278386,77563.0,2004-04-23 15:37,51,0.0,1.0

In [67]:
# Removes NaN values
clds = dataset[dataset['classes'].notna()]

In [68]:
# Gets 'people' topics
txds = clds[clds['classes'].str.contains("people")]

In [69]:
dataset.loc[dataset['RSS_ID'] == 2].classes

0                                  NaN
7                                  NaN
8                             |theatre
9                                  NaN
10                                 NaN
                     ...
9773                        |misc|wow!
9922    |familar topic|politics|people
9945      |familar topic|people|health
9960            |bad news|economy|wow!
9967             |movies|entertainment
Name: classes, Length: 976, dtype: object

In [70]:
txds.RSS_ID.value_counts()

8157    24
9       13
8186    11
8154     8
8201     8
2        6
11       5
3        5
8153     5
8156     4
8216     3
14       3
8221     3
8202     2
8183     2
10       2
8209     2
3661     2
8184     2
1302     2
5        2
8203     1
12       1
8195     1
15       1
2324     1
8199     1
8217     1
8205     1
1579     1
3621     1
1839     1
8242     1
8272     1
8181     1
2905     1
6747     1
2909     1
606      1
6499     1
2685     1
501      1
686      1
4293     1
8152     1
2113     1
Name: RSS_ID, dtype: int64

In [64]:
txds.loc[txds['RSS_ID'] == 9 or txds['RSS_ID'] == 8157]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [79]:
# Select two most populous RSS IDs
nines = txds.loc[txds['RSS_ID'] == 9]
eights = txds.loc[txds['RSS_ID'] == 8157]
frames = [nines, eights]
final_ds = pandas.concat(frames)
final_ds.count()

EventOnScroll       37
MSecForDownArrow    37
TimeOnVScroll       37
relevant            37
NumOfPageUp         37
TimeOnMouse         37
NumOfPageDown       37
ClickOnWindow       37
log_id              37
serverTimeVisit     37
MSecForPageUp       37
MSecForUpArrow      37
NumOfUpArrow        37
classes             37
MSecForPageDown     37
RSS_ID              37
readability         37
TimeOnHScroll       37
novelty             37
user_like           37
DOC_ID              37
TimeOnPage          37
TimeVisit           37
user_id             37
NumOfDownArrow      37
authority           37
dtype: int64

In [80]:
# Now we need to normalize relevance to between 0 and 1, then add Gaussian noise, then clip.
final_ds['relevant'] = final_ds['relevant'] / 5

In [81]:
final_ds['relevant'] = final_ds['relevant'] + np.random.normal(0, 0.05, final_ds['relevant'].count())

In [82]:
final_ds.loc[final_ds['relevant'] < 0] = 0
final_ds.loc[final_ds['relevant'] > 1] = 1

In [83]:
final_ds.head()

,EventOnScroll,MSecForDownArrow,TimeOnVScroll,relevant,NumOfPageUp,TimeOnMouse,NumOfPageDown,ClickOnWindow,log_id,serverTimeVisit,...,readability,TimeOnHScroll,novelty,user_like,DOC_ID,TimeOnPage,TimeVisit,user_id,NumOfDownArrow,authority
9716,0.0,0.0,0.0,0.627253,0,1847,0.0,0.0,5030,2004-04-29 23:43,...,1.0,0.0,3.0,3,292655,82735.0,2004-04-29 23:43,92,0.0,1.0
9777,0.0,0.0,0.0,0.395508,0,1312,0.0,0.0,5769,2004-05-02 01:44,...,1.0,0.0,2.0,3,271918,24078.0,2004-05-02 01:44,92,0.0,1.0
9932,0.0,0.0,0.0,0.712238,0,310,0.0,0.0,19695,2004-05-11 18:46,...,1.0,0.0,2.0,3,312319,26750.0,2004-05-11 18:46,92,0.0,1.0
9933,0.0,0.0,0.0,0.465007,0,1173,0.0,0.0,19696,2004-05-11 18:48,...,1.0,0.0,2.0,3,312321,66984.0,2004-05-11 18:48,92,0.0,1.0
9934,0.0,0.0,0.0,0.615199,0,2296,0.0,0.0,19697,2004-05-11 18:50,...,1.0,0.0,3.0,3,312318,116375.0,2004-05-11 18:50,92,0.0,1.0

In [90]:
final_ds['user_id'].value_counts()

92    37
Name: user_id, dtype: int64

In [95]:
"""
    inputs:
        d: document = article from an authority
        u: user from authority
        q: query =
        u: expected utility u(d|q) = \sum_{u \in users} \lambda(rel(d|u, q)) P(u|q)
            a vector length of the number of documents
            = (dataset.relevance / 5) + Gaussian(0.05)
        P:
        v: position bias (how much attention an article gets based on rank)
            a vector length of the number of documents
            v(j) = \frac{1}{log(1 + j)} where j is the rank of document d
        fair constraint: f^T P g
            f: (DPC) f_i = \frac{1}{|G_0|} \cdot (1_{d_i \in G_0}) - \frac{1}{|G_1|} \cdot (1_{d_i \in G_1}) where 1 is the indicator
            g: g = v
"""
u = final_ds['relevant'].to_numpy()
v = np.array([1.0/(np.log(2 + i)) for i, _ in enumerate(u)])
P = cp.Variable((len(u), len(u)))
objective = cp.Maximize(cp.matmul(cp.matmul(u, P), v))
constraints = [cp.matmul(np.ones((1,len(u))), P) == np.ones((1,len(u))),
               cp.matmul(P, np.ones((len(u),))) == np.ones((len(u),)),
               0 <= P, P <= 1,
              ]
               #cp.matmul(cp.matmul(np.array([1/u[:3].sum(), 1/u[:3].sum(), 1/u[:3].sum(), -1/u[3:].sum(), -1/u[3:].sum(), -1/u[3:].sum()]) / 3, P), v) == 0]
               # ]
prob = cp.Problem(objective, constraints)

# The optimal objective value is returned by `prob.solve()`.
# result = prob.solve(verbose=True, max_iters=1000)
result = prob.solve(verbose=True, solver=cp.SCS)
# The optimal value for x is stored in `x.value`.
print(P.value)

----------------------------------------------------------------------------
	SCS v2.1.2 - Splitting Conic Solver
	(c) Brendan O'Donoghue, Stanford University, 2012
----------------------------------------------------------------------------
Lin-sys: sparse-direct, nnz in A = 5476
eps = 1.00e-04, alpha = 1.50, max_iters = 5000, normalize = 1, scale = 1.00
acceleration_lookback = 10, rho_x = 1.00e-03
Variables n = 1369, constraints m = 2812
Cones:	primal zero / dual free vars: 74
	linear vars: 2738
Setup time: 4.51e-03s
----------------------------------------------------------------------------
 Iter | pri res | dua res | rel gap | pri obj | dua obj | kap/tau | time (s)
----------------------------------------------------------------------------
     0| 2.90e+20  6.73e+20  3.48e-01 -3.74e+21 -7.73e+21  6.92e+22  3.38e-03
   100| 5.53e-04  1.02e-03  3.32e-04 -1.00e+01 -1.00e+01  1.53e-14  7.21e-02
   200| 4.27e-04  1.01e-03  1.67e-05 -1.00e+01 -1.00e+01  1.25e-14  1.26e-01
   300| 2.52e-04  6.11e-04  1.50e-04 -1.00e+01 -1.00e+01  4.13e-15  1.73e-01
   400| 1.83e-04  4.14e-04  3.36e-05 -1.00e+01 -1.00e+01  7.17e-15  2.28e-01
   500| 2.27e-04  5.04e-04  2.09e-04 -1.00e+01 -1.00e+01  1.53e-14  2.86e-01
   600| 1.85e-04  4.22e-04  7.84e-05 -1.00e+01 -1.00e+01  2.25e-14  3.38e-01
   700| 1.05e-04  2.49e-04  5.84e-05 -1.00e+01 -1.00e+01  1.51e-14  3.88e-01
   800| 1.17e-04  2.30e-04  7.70e-05 -1.00e+01 -1.00e+01  2.92e-14  4.31e-01
   900| 1.29e-04  2.65e-04  1.03e-04 -1.00e+01 -1.00e+01  1.95e-14  4.90e-01
  1000| 1.28e-04  2.92e-04  5.02e-05 -1.00e+01 -1.00e+01  8.92e-16  5.49e-01
  1100| 7.43e-05  1.45e-04  5.14e-05 -1.00e+01 -1.00e+01  1.96e-14  5.93e-01
  1200| 5.30e-05  1.41e-04  1.75e-05 -1.00e+01 -1.00e+01  1.31e-14  6.43e-01
  1260| 5.62e-05  9.71e-05  1.14e-05 -1.00e+01 -1.00e+01  1.49e-14  6.84e-01
----------------------------------------------------------------------------
Status: Solved
Timing: Solve time: 6.84e-01s
	Lin-sys: nnz in L factor: 11692, avg solve time: 5.02e-05s
	Cones: avg projection time: 4.16e-06s
	Acceleration: avg step time: 4.11e-04s
----------------------------------------------------------------------------
Error metrics:
dist(s, K) = 2.1277e-16, dist(y, K*) = 0.0000e+00, s'y/|s||y| = -2.2223e-18
primal res: |Ax + s - b|_2 / (1 + |b|_2) = 5.6226e-05
dual res:   |A'y + c|_2 / (1 + |c|_2) = 9.7083e-05
rel gap:    |c'x + b'y| / (1 + |c'x| + |b'y|) = 1.1400e-05
----------------------------------------------------------------------------
c'x = -10.0194, -b'y = -10.0192
============================================================================
[[-1.99514340e-06 -1.89432647e-06 -1.74190644e-06 ... -1.59102380e-06
  -2.10591520e-05  3.04699937e-05]
 [ 6.54836440e-06  6.52217867e-06  6.62954378e-06 ...  4.66371357e-02
   2.74851312e-04 -2.67411281e-04]
 [-1.25490930e-05 -1.24017020e-05 -1.22327596e-05 ... -1.20431895e-05
  -3.15111325e-05  2.00181908e-05]
 ...
 [ 6.97368352e-05  6.99208379e-05  7.01027685e-05 ...  7.03227505e-05
   5.08549532e-05  1.02384416e-04]
 [ 2.24033653e-06  2.45429367e-06  1.00000062e+00 ...  2.89171504e-06
  -1.65759632e-05  3.49536139e-05]
 [ 2.64985005e-06  2.69371225e-06  2.82592725e-06 ...  2.92949961e-06
  -1.65388551e-05  3.49900734e-05]]

In [102]:
# Construct decomposition P = \theta_1 P_1 + ... + \theta_n P_n

1.00000665616192